/* pageStyle.css */
body {background-image: url("https://codd.cs.gsu.edu/~ademe2/featured48.jpg");
font-family:sans-serif;       
                                  
}


.content {
    margin-left: auto;
    margin-right: auto;
	width: 500px;
	height: 300px;
	border: 4px solid grey;
	border-radius: 20px;
	position: relative;
}

img{
	display: block;
	margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
}


h1 {
 color: #FF0000;
 text-align: center;
 }

h2 {
 color: #FF0000;
 text-align: center;
 }

 h3 {
 color: #FF0000;
 text-align: center;
 }
 
 
 li{
	 height:50px;
 }
 







