*{font-family: Helvetica, sans-serif;}
body{background-image: url(brown_paper.jpg);}
img{width:30%; border-radius:50%;margin:auto;}
a{color:black;} a:hover{color:white;}
div.hobbies{width:40%; margin:auto;text-align:center;}	
div.projects{float:left; width:30%;text-align:center;display:block;}
table.ext{border-collapse:collapse;height:80%;float:right;width:80%;}

table.proj{border-collapse:collapse;height:80%;width:70%;}
tr:nth-child(even){background-color: #dddddd; width:100%;}

tr:nth-child(odd){background-color:lightblue;width:100%;}

caption{font-weight:bold;font-size:20px;}

li,p.about,p{font-weight:bold;font-size:20px; font-style:italic;}

td:hover{background-color:black;color:white;}

div.links{float:right; width:30%;text-align:center;display:block;}

header{text-align:center;}

div.quote{width:40%; margin:auto;text-align:center;}

span:hover{color:red;font-weight:bold;}

ol.main{list-style-type:lower-alpha;}

div.class{text-align:center;font-weight:bold;}


